body {
    background: linear-gradient(to bottom, #c54f92, #ff8fab);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.container {
    color: white;
    font-family: 'Lora', sans-serif;
    font-size: 50px;
    text-align: center;
    position: relative;
}

.container h1 {
    font-family: "Instrument Sans", sans-serif;
    font-size: 100px;
    font-weight: 500;
    text-shadow: 10px 8px 6px rgba(0, 0, 0, 0.5);
    border-right: 5px solid;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    position: relative;
    animation: 
            typing 4s steps(21),
            cursor .5s step-end infinite alternate;
}


@keyframes cursor {
    50% {
        border-color: transparent;
    }
}


@keyframes typing {
    from {
        width: 0;
    }
}

.description-container {
    margin-top: 5px;
    opacity: 0;
    animation: fade-in 6s ease-in-out 2.2s forwards;
}

.description {
    font-family: Poppins, sans-serif;
    font-size: 1em;
    font-weight: lighter;
    text-shadow: 12px 8px 8px rgba(0, 0, 0, 0.4);
    margin-top: -20px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Estilos para pantallas de tamaño pequeño (teléfonos móviles) */
@media (max-width: 767px) {
    .container h1 {
        font-size: 40px; 
    }
    .description-container {
        font-size: 20px;
    }
}

/* Estilos adicionales para pantallas de tamaño medio (tabletas) */
@media (min-width: 768px) and (max-width: 991px) {
    .container h1 {
        font-size: 60px; 
    }
    .description-container {
        font-size: 40px;
    }
}


